extends layout

block content
  h1= title
  script.
    function buy(index) {
      alert("You purchased item " + index);
    }
  .container-fluid
    .row
      each car, index in results
        .col-sm-4
          .card
            .card-body
              h5.card-title Make: #{car.make}
              p.card-text Model: #{car.model}
              p.card-text Price: $#{car.price}
              div
                button.btn.btn-primary(onclick=buy(${index})) Buy